{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <h1>Basketball Fantasy Picker</h1>
  <p>This program picks a team for the fantasy game Draft Kings using various algorithms. In this game you pick NBA players who you believe will perform well today. You cannot just pick the best players|
     as your team must stay below a certain salary cap.
  </p>
  <p>Data is from December 15, 2018</p>
  <a class="btn btn-info" href="/static/nba-player.csv">See Data</a>
</br>
  <a class="btn btn-primary margin-top-20" onclick="getTeam()">Click to create optimal team</a>
  <div>
    <table class="table margin-top-20" id="team">
      <thead>
        <tr>
          <th scope="col">Player</th>
          <th scope="col">Salary</th>
          <th scope="col">Team</th>
          <th scope="col">Position</th>
          <th scope="col">Points</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h2 class="margin-top-20" id="score">Estimated Score: </h2>
  <h2 class="margin-top-20" id="floor">Floor: </h2>
  <h2 class="margin-top-20" id="ceil">Ceiling: </h2>
</div>

{% endblock %}
